pkgbase = ned
	pkgdesc = Like grep but with a powerful replace, unlike sed, it's not only line oriented.
	pkgver = 1.3.3
	pkgrel = 1
	url = https://github.com/nevdelap/ned
	arch = x86_64
	license = GPL3
	makedepends = rust
	source = ned-1.3.3.tar.gz::https://github.com/nevdelap/ned/archive/release.1.3.3.tar.gz
	md5sums = be586745a5d29295b8722bc87c1a0226

pkgname = ned
