pkgbase = ned
	pkgdesc = Like grep but with a powerful replace, unlike sed, it's not only line oriented.
	pkgver = 1.2.9
	pkgrel = 1
	url = https://github.com/nevdelap/ned
	arch = x86_64
	license = GPL3
	source = ned-1.2.9.tar.gz::https://github.com/nevdelap/ned/archive/release.1.2.9.tar.gz
	md5sums = 3fe2b86055f4b94e03f4104c2cba9d57

pkgname = ned

